.hide-scrollbar {
  /* Hide scrollbar for Firefox */
  scrollbar-width: none;
  /* Hide scrollbar for Chrome, Safari, and Edge */
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
